Replace Nan with average of columns

In [1]:
import numpy as np

In [3]:
array = np.array([[1,2,np.nan],
                  [3,5,6],
                  [np.nan,8,9]])

In [4]:
array

array([[ 1.,  2., nan],
       [ 3.,  5.,  6.],
       [nan,  8.,  9.]])

In [18]:
np.isnan(array)

array([[False, False,  True],
       [False, False, False],
       [ True, False, False]])

In [20]:
array_1 = np.where(np.isnan(array), np.ma.array(array,mask=np.isnan(array)).mean(axis = 0), array)

In [21]:
array_1

array([[1. , 2. , 7.5],
       [3. , 5. , 6. ],
       [2. , 8. , 9. ]])

Replace negative value with zero

In [25]:
array_2 = np.array([[1,2,5],
                  [-3,5,-6],
                  [1,-2,7]])

In [26]:
np.where(array_2<0, 0, array_2)

array([[1, 2, 5],
       [0, 5, 0],
       [1, 0, 7]])